@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    margin: 0;
    padding: 0;
}
.nav_holder{
    background-color: #0D6CAC;
}

.navbar{
    max-width: 2560px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 10px 20px;
}

.nav_logo{
    display: flex;
    align-items: center;
}

.nav_menu{
    display: flex;
    align-items: center;
    color: #E8F2F8;
    font-weight: 500;
    font-size: 21px;
    gap: 35px;
    font-family: "Montserrat", sans-serif;
    margin-left: 60px;
    flex-wrap: wrap;
}

.navbar .nav_menu .nav_item{
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar .nav_menu .nav_item_link{
    cursor: pointer;
    transition: color 0.3s ease;
    color: #E8F2F8;
    text-decoration: none;
}

.navbar .nav_menu .nav_item:hover {
  color: #ffcb00;
}
.footer_container .footer_2 .nav_item:hover {
  color: #ffcb00;
}

.navbar .nav_menu .active_nav_item {
  color: #ffcb00;
}

.footer_container .footer_2 .active_nav_item {
  color: #ffcb00;
}

.nav_icons{
    display: flex;
    gap: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.nav_icons .img{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.navbar .nav_menu .roundedbtn{
    border: 2px solid white;
    border-radius: 7px;
    padding: 7px 14px;
}

.hero_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0D6CAC;
    background-image: url("./Assets/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}   

.hero_section .content {
  max-width: 2560px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  color: white;
}

.hero_section .content .text{
  text-align: center;
}
.hero_section .content .text:nth-child(1) {
  font-size: 34px;
  font-weight: 300;
  line-height: 47px;
  font-family: "Almarai", sans-serif;
}
.hero_section .content .text:nth-child(2) p:nth-child(1) {
  font-size: 64px;
  font-weight: 900;
  line-height: 47px;
  font-family: "Inter", sans-serif;
  color: #ffcb00;
  margin-bottom: 25px;
}
.hero_section .content .text:nth-child(2) p:nth-child(2) {
  font-size: 36px;
  font-weight: 500;
  line-height: 35px;
}
.hero_section .content .text:nth-child(3) p:nth-child(1) {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.section_3 {
  background-color: #E8F2F8;
  padding: 100px 20px;
}

.section_3 .section3_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section_3 .section3_container .prayer_timings {
    font-family: "Almarai", "sans-serif";
    font-size: 23px;
    font-weight: 400;
  border: 3px solid #ffcb00;
  padding: 40px 15px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  width: 330px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #0d6cac;
}
.section_3 .section3_container .prayer_timings img {
  width: 150px;
  height: auto;
}
.section_3 .section3_container .prayers {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.section_3 .section3_container .prayers .prayer-item p:nth-child(1) {
  text-transform: uppercase;
}
.section_3 .section3_container .prayers .prayer-item {
  display: flex;
  justify-content: space-between;
}

.section_3 .section3_container .prayers .prayer-item p:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    font-family: "Almarai", sans-serif;
}

.section_3 .section3_container .prayers .prayer-item p:nth-child(2) {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    font-family: "Almarai", sans-serif;
}

.feed_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    gap: 20px;
}

.facebook_feed{
    text-align: center;
    font-family: "Montserrat", "Sans_serif";
    font-weight: 700;
    font-size: 33.6px;
    color: #0D6CAC;
    margin-bottom: 120px;
}

.feed_1{
  width: 100%;
  height: auto;
  background-color: #FAFAFA;
  border-radius: 8px;
}


.section_4{
  margin: 0px;
  padding: 0px;
  display: flex;
  background-color: #0D6CAC;
  padding: 70px 30px;
  flex-wrap: wrap;
  justify-content: space-around
}

.section4_container{
 display: flex;
  justify-content: space-around;
}

.section4_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;
  flex-wrap: wrap;
}

.section4_text{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E8F2F8;
  font-size: 22px;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 700;
  margin-top:  15px;
}

.p1{
  color: #E8F2F8;
  font-size: 34px;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 700;
}

.p2{
  margin-top: 27px;
  color: #E8F2F8;
  font-size: 16px;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 400;
  line-height: 27px;
  width: 100%;
  padding: 0 15px;
  text-align: justify;
}

.p3{
  margin-top: 51px;
  color: #E8F2F8;
  font-size: 27px;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 900;
}

.p4{
  margin-top: 27px;
  color: #FFCB00;
  font-size: 16px;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 500;
  line-height: 27px;
}

.p5{
  background-color: #FFCB00;
  margin-top: 27px;
  color: #0D6CAC;
  font-size: 16px;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 500;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 30px;
}

.section_5{
  background-color: #E8F2F8;
}

.section_5_text{
  padding-top: 80px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0D6CAC;
}

.section5_p1{
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 700;
  font-size: 33px;
  margin-top: 23px;
}

.section5_p2{
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 400;
  font-size: 16px;
  margin-top: 27px;
}

.section5_p3{
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 700;
  font-size: 16px;
  margin-top: 38px;
  line-height: 27px;
}

.section5_p4{
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 400;
  font-size: 16px;
  margin-top: 18px;
  line-height: 27px;
}

.section5_p5{
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 400;
  font-size: 16px;
  margin-top: 27px;
  line-height: 27px;
  padding-bottom: 100px;
}

.gallery_heading{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.gallery .gallery-holder {
  display: flex;
  justify-content: center;
  gap: 7px;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 64px;
}

.gallery .gallery-holder img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
}

.section_7{
    background-color: #0D6CAC;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section7_container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  flex-direction: column;
}

.heading_map{
  color: #E8F2F8;
  font-size: 34px;
  font-weight: 700;
  font-family: "Montserrat", "Sans-Serif";
  padding-top: 12px;
}

.map{
  padding-top: 30px;
  padding-bottom: 80px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.footer{
    background-image: url("./Assets/footer_image.png");
    color: #0D6CAC;
}

.footer_container{
  padding-top: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}

.footer_1{
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  font-size: 16px;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 500;
}

.footer_2{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 600;
  gap: 15px;
}

.footer_3{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 600;
  gap: 27px;
  align-items: center;
  margin-bottom: 140px;
}

.footer_3_item1{
    font-family: "Akaya Telivigala", system-ui;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer_3_item3{
  font-size: 16px;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 600;
  
}

.footer_3_item2{
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.footer_btn{
  text-transform: uppercase;
  background-color: #0D6CAC;
  color: #E8F2F8;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 600;
  cursor: pointer;
}

.footer_2 .footer_link{
    cursor: pointer;
    transition: color 0.3s ease;
    color: #0D6CAC;
    text-decoration: none;
}

.hero_section_aboutus{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #0D6CAC;
    background-image: url("./Assets/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}   

.hero_section_aboutus .content .text_aboutus{
  text-align: center;
  font-size: 56px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #E8F2F8;
  text-transform: uppercase;
}

.p1{
  color: #E8F2F8;
  font-size: 34px;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 700;
  padding-bottom: 5px;
}

.p2{
  width: 100%;
  max-width: 650px;
  padding: 0 15px;
  color: #E8F2F8;
  font-size: 16px;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
}

.section_4_facilities{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #0D6CAC;
}

.section4_text{
  padding-bottom: 20px;
}

.section4_image{
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}



.mcontent{
  background-color: #0D6CAC;
   color: #E8F2F8;
   font-family: "Montserrat", "Sans-Serif";
}

.mcontent_container{
  padding-top: 80px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.Mtext1{
  font-weight: 700;
  font-size: 34px;
}

.Mtext2{
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

.Mtext3{
  font-weight: 900;
  font-size: 40px;
  line-height: 27px;
}

.Mtext4{
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}

.donation_text{
  padding-top: 50px;
  background-color: #0D6CAC;
  color: #E8F2F8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  text-align: center;
}

.dtextp1{
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 600;
  font-size: 41px;
  color: #FFCB00;
}


.dtext{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dtextp2{
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 600;
  font-size: 20.8px;
  color: #E8F2F8;
}

.progress_bar{
  padding-top: 50px;
  flex-direction: column;
    background-color: #0D6CAC;
  color: #E8F2F8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
align-items: center;
  text-align: center;
  padding-bottom: 100px;
padding-top: 30px;
}

.bar{
  padding-bottom: 36px;
}

.donation_btn{
  text-transform: uppercase;
  font-family: "Montserrat", "Sans-Serif";
font-weight: 700;
font-size: 14px;
padding: 16px 45px;
border-radius: 30px;
border: 2px solid #FFCB00;
color: #FFCB00;
cursor: pointer;
}


.p1ed{
  color: #FFCB00;
  text-align: left;
}



.arabic{
   margin: 0px;
  padding: 0px;
  display: flex;
  background-color: #0D6CAC;
  padding: 70px 30px;
  flex-wrap: wrap;
  justify-content: space-around
}


.arabic_school{
  display: flex;
  justify-content: space-around;
}

.arabic_container{
 display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;
  flex-wrap: wrap;
}


.team_brief{
  color: #E8F2F8;
  background-color: #0D6CAC;
  font-size: 20.8px;
  font-family: "Montserrat", "Sans-Serif";
  font-weight: 600;
  line-height: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left ;
  padding-top: 60px;
  margin: 0;
  flex-wrap: wrap;
} 



.waqf1{
  background-color: #0D6CAC;
  font-family: "Montserrat", "Sans-Serif";
  padding-top: 100px;
}

.waqf_container{
   padding-top: 74px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 70px;
  padding-bottom: 120px;
}

.waqf_items{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 70px;
  flex-wrap: wrap;
}

.waqf_h1{
  color: #FFCB00;
  font-size: 34px;
  font-weight: 700;
  padding-top: 100px;
}

.waqf_p1{
  color: #E8F2F8;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
  padding-top: 19px;
}

.waqf_p2{
  color: #FFCB00;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
  padding-top: 8px;
}

.waqf_p1b{
  color: #E8F2F8;
  font-size: 20.8px;
  font-weight: 600;
  line-height: 27px;
  padding-top: 19px;
}

.waqf_p2b{
  color: #FFCB00;
  font-size: 20.8px;
  font-weight: 600;
  line-height: 27px;
  padding-top: 8px;
}


.waqfimg{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.contact_section{
  background-color: #0D6CAC;
}

.contact_container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
   font-family: "Montserrat", "Sans-Serif";
}

.contact_form form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 39px;
  padding-left: 29px;
  padding-right: 29px;
  padding-bottom: 59px;
  border: 2px solid #FFCB00;
  border-radius: 10.58px;
}

.contact_form{
  padding-top: 50px;
}

.contact_heading{
  color: #E8F2F8;
  font-size: 19.2px;
  font-weight: 400;
  line-height: 27.2px;
  text-align: center;
}


.contact_form .send_btn{
  height: auto;
  border: 2px solid #E8F2F8;
  border-radius: 8px;
  color: #E8F2F8;
  font-size: 14.2px;
  font-weight: 700;
  padding: 8px 16px;
  cursor: pointer;
  
}

.ctext{
  padding: 19px 13px;
  border: 0px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 200;
}


.cemail{
  padding: 19px 13px;
  border: 0px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 200;
}


.ctextarea{
  border: 0px;
  border-radius: 4px;
}